&nbsp;
<div class="jumbotron">
  <h1>Contact</h1>
  <div class="row contact-box">
    <b>MIRĂUȚĂ NATANAEL AUGUSTIN</b>
    <div class="contact-details">
      <i class="row">Telefon: 0760-328-821</i> &nbsp;
      <i class="row">Email: natimirauta@gmail.com</i>
    </div>
    <img class="contact-image" style="height:140px;" src="images/nati.jpg">
  </div>
  &nbsp;
  <div class="row contact-box">
    <b>ROȘU DENISA</b>
    <div class="contact-details">
      <i class="row">Telefon: 0749-309-314</i>
      <i class="row">Email: denisarosu33@gmail.com</i>
    </div>
    <img class="contact-image" style="height:150px ;width: 130px;" src="images/denisa.jpg">
  </div>
  &nbsp;
  <div class="row contact-box">
    <b>SABĂU DANIELA REBECA</b>
    <div class="contact-details">
      <i class="row">Telefon: 0744-554-103</i>
      <i class="row">Email: danielarebeca86@gmail.com</i>
    </div>
    <img class="contact-image" src="images/rebeca.jpg">
  </div>
</div>

<script src="scripts/contact.js"></script>