<div class="jumbotron">
  <h2>Candidații alegerilor sunt: </h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nume</th>
        <th>Partid</th>
        <th>Detalii</th>
      </tr>
    </thead>
    <tbody id="candidati">
    </tbody>
  </table>
</div>

<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script language="JavaScript" type="text/javascript" src="~/scripts/candidati.js"></script>

